.git
.agents
.codex
.metadata
.settings
.project
.buildpath
desktop.ini
application/desktop.ini
application/controllers/desktop.ini
application/core/desktop.ini
application/helpers/desktop.ini
application/hooks/desktop.ini
application/libraries/desktop.ini
application/language/english/desktop.ini
application/models/desktop.ini
application/third_party/desktop.ini
assets/img/photothumb.db
system/desktop.ini
system/**/*.ini
